<!doctype html>
<html lang="en">
<!--<style>-->
<!--table, th, td {-->
<!--  border: 1px solid black;-->
<!--}-->
<!--</style>-->
<link>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" type  = "text/css" href = "{{url_for('static', filename = 'css/main.css')}}">

<!--    jitsi syntax above is for things that you want to be printed =-->

    <title>Document</title>
</head>

    {% block head %} {% endblock  %}

<body>
{% block body %} {% endblock  %}
<!--for things like if else statements in jitsi syntax-->
</body>
</html>


<!--! + return = basic layout-->
